table {
  border: 10px solid blue;
  margin: 10px;
}

td {
  border: 1px solid black;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: red;
}

tr {
  border: solid yellow 5px;
}

tr:last-child {
  color: violet;

}

td:first-letter {
  font-size: 20px;
}